.tab-wrap{
    display: flex;
    align-self: center;
    list-style-type: none;
    gap: 10px;
    >li{
        display: flex;
        a, button{
            height: 40px;
            padding: 0px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            text-transform: uppercase;
            font-size: .8rem;
            position: relative;
            opacity: .5;
            &[data-active="true"]{
                opacity: 1;
                font-weight: bolder;
                &::after{
                    content: "";
                    display: block;
                    width: 80%;
                    height: 2px;
                    position: absolute;
                    bottom: 0px;
                    margin: auto;
                    background: #fff;
                }
            }
        }
    }
}